# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
notadb.sqlite3-journal
notadb.sqlite3
media/
static/
staticfiles/


.env
.venv
pip-log.txt
pip-delete-this-directory.txt


.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak