body {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    margin: 0;
    background-color: #22222210;
    text-align: center;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}


.infoBloc{
    border: 1px solid #2222220e;
    border-top: 0px;
    margin-top: -10px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.conteiner form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border: 1px solid rgba(128, 128, 128, 0.2); 
    border-radius: 10px;
    padding: 10px;
    
    box-shadow: rgba(38, 57, 77, 0.528) 0px 20px 30px -10px;
    background-color: #FFFFFF;
    transition: all 0.5s ease-in-out;
}

.conteiner form:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.conteiner select{
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    margin-bottom: 10px;
}

.conteiner button{
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;

    margin-bottom: 5px;
}


.conteiner button:hover {
    background-color: #222222;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.conteiner a{
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;

    margin-bottom: 5px;
}


.conteiner a:hover {
    background-color: #222222;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}