{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="order-bloc">
    <h1>Дякуємо за замовлення!</h1>
    <h2>Ми зв'яжемося з вами в найближчий час для уточнення інформації.</h2>
    <p>Ваше замовлення №{{ order.id }} успішно створено.</p>
    <p>Ім'я: {{ order.customer }}</p>
    <p>Телефон: {{ order.phone }}</p>
    <p>Коментар: {{ order.coment }}</p>
    <p>Загальна сума: {{ order.total }} грн.</p>

    <h2>Товари у замовленні:</h2>
    <ul class="order-text">
        {% for item in order.items.all %}
            <li>
                <a style="color: black;" href="/catalog/product/{{ item.product.id}}">
                    {{ item.product.name }} - {{ item.quantity }} шт. - {{ item.product_price.price }} грн.
                </a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <button class="go"> <a href="/">Продовжити покупки</a></button>
    <br>
    <button class="go"> <a href="/order/track?number={{ order.id }}">Відстежити замовлення</a></button>
</div>
    
    <script>
        localStorage.removeItem("cart_key");
    </script>

{% endblock %}